In [ ]:
###constructor
class student:
    def _init_(self,name,age):
        self.name=name
        self.age=age
     
obj_st =student(name")

TypeError: student() takes no arguments

In [ ]:
class student:
    def _init_(self,name,age,address):
        self.name=name
        self.age=age
        self.address=address

        def display(self):
            print(f"my name is (self.name) and my age is(self.age)and my address is(self.address)")

        obj_st=student(name="ritik",age=22,address="kukas")

In [15]:
obj_st.display()

NameError: name 'obj_st' is not defined

In [ ]:
# class bank:
# constructer
# init method
# _init
# account number
# phone number
# ṃethod
# deposite
# withdraw
# total balance

In [19]:
class bank:
      def _init_(self,name,age,account_number,phone_number,address,amount):
        self.name=name
        self.age=age
        self.address=address
        self._account_number=account_number
        self.phone_number=phone_number
        self.amount=amount
      def deposit(self,amount):
          self.amount=self.amount+amount

In [ ]:
class BankAccount:
    def __init__(self, holder_name, account_number, phone_number, address, balance=0):
        self.holder_name = holder_name
        self.account_number = account_number
        self.phone_number = phone_number
        self.address = address
        self.balance = balance
        print(f"Account created successfully for {self.holder_name}")

    def show_details(self):
      
        print(f"Name: {self.holder_name}")
        print(f"Account Number: {self.account_number}")
        print(f"Phone Number: {self.phone_number}")
        print(f"Address: {self.address}")
        print(f"Balance: ₹{self.balance}")

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"₹{amount} deposited successfully. New Balance: ₹{self.balance}\n")
        else:
            print("Invalid deposit amount")

    def withdraw(self, amount):
        if amount <= 0:
            print("Invalid withdrawal amount")
        elif amount > self.balance:
            print("Insufficient balance")
        else:
            self.balance -= amount
            print(f"₹{amount} withdrawn successfully. Remaining Balance: ₹{self.balance}")

# Example usage
account1 = BankAccount("Ravi Kumar", "1234567890", "9876543210", "Delhi, India", 500)
account1.show_details()
account1.deposit(200)
account1.withdraw(150)
account1.show_details()

Account created successfully for Ravi Kumar
---- Account Details ----
Name: Ravi Kumar
Account Number: 1234567890
Phone Number: 9876543210
Address: Delhi, India
Balance: ₹500
₹200 deposited successfully. New Balance: ₹700

₹150 withdrawn successfully. Remaining Balance: ₹550
---- Account Details ----
Name: Ravi Kumar
Account Number: 1234567890
Phone Number: 9876543210
Address: Delhi, India
Balance: ₹550